body {
  font-family: "monospace", sans-serif;
}
.font-primary {
  color: #00abae;
}
.title-icon {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

/* About */
#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}
#about img {
  border-radius: 99%;
  max-width: 120px;
  margin-bottom: 10px;
}
#about .name {
  margin-bottom: 10px;
  font-size: 20px;
}
#about .vocation {
  font-size: 17px;
  color: grey;
  margin-bottom: 10px;
}
#about .skills {
  font-size: 15px;
  color: #00abae;
  margin-bottom: 10px;
}
#about .email {
  font-size: 20px;
  margin-top: 10px;
}
#about .icons {
  margin-top: 10px;
  font-size: 40px;
}
#about a {
  color: black;
}

/* projects */
#project {
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

#project .card {
  width: 100%;
}

#project .card img {
  margin-top: 10px;
  width: 100%;
}

#project .card-title {
  font-weight: 900;
}
#project .project-video {
  width: 100%;
  max-height: 270px;
  background-color: black;
}
